numpy
pandas
librosa
numba
scikit-learn
xgboost
torch 
torchaudio
transformers
nltk
transformers
sentence-transformers
opencv-python
tensorflow
sounddevice
soundfile
googletrans==4.0.0-rc1
tf-keras
hf_xet
streamlit
matplotlib